body {
    margin: 0;
    overflow: hidden;
    background: radial-gradient(circle at center, #0d4600, #74e01c);
}

.background {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

h1 {
    text-align: center;
    color: #0d2800;
    font-family: "Cascadia Code", monospace;
}

.wisdom {
    position: relative;
}

.bubble {
    justify-content: center;
    align-items: center;
    margin-left: 15vw;
    width: 70vw;
    height: 30vh;
    z-index: -1;
}

@keyframes typing{
    from {width: 0}
    to {width: 100%}
}

.speech {
    display: block;
    overflow: hidden;
    word-wrap: break-word;
    position: absolute;
    margin-left: 25%;
    margin-right: 25%;
    max-width: 50%;
    top: 25%;
    font-family: "Cascadia Code", monospace;
    animation: typing 3s forwards;
}

.yoda {
    display: flex;
    justify-content: center;
    align-items: center;
}